{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript", "prettier"],
  "plugins": ["@typescript-eslint", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "prettier/prettier": 2
  }
}
