@import 'variables';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: darken($primary-dark, 5);
  color: $primary-light;
}

#root {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
}

.ag-grid-main {
  height: 100%;
  width: 100%;

  .db-grid {
    width: 100%;
  }
}

// .window-display {
//   display: flex;
//   flex-direction: row;
//   justify-content: stretch;
.container {
  display: flex;

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-width: 200px;
    background-color: $primary;
   
    .logo-image {
      padding: 0px;
      background: $primary-light;
      width: 100%;
      height: auto;
    }

    .nav-text {
      .nav-menu {
        padding: .5em;
        list-style: none;
        //.nav-menu-item
        .nav-menu-item {
          list-style: none;
          
          .list-text {
          text-decoration: none ;
          color: $primary-light;
          display: flex;
          flex-direction:column;
          padding: 1em;
          margin: 0 -.5em;
          align-items: flex-start;
          justify-content: center;
  
          &:hover {
            color: $primary-dark;
            background: $primary-light;
        }
  
          &:active {
            color: $primary;
            background: darken($primary-light, 10)
          }
        }
      }
    } 
  }
  #exit-text {
    padding: .5em;
    display: flex;
        flex-direction:column;
        padding: 1em;
        margin-left: -.5em;
        align-items: flex-start;
        justify-content: center;
        
        &:hover {

      color: $primary-dark;
      background: $primary-light;
  }

    &:active {
      color: $primary;
      background: darken($primary-light, 10)
    }
  }
  }
  .database-view {
    display: flex;
    flex-direction: row;
    // justify-content: stretch;
    
    .middle-tables {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100%;

      .add-new-row {
        padding-left: 1em;
        display: flex;
        background-color: $primary-dark;
        width: 60vw;
        flex-direction: row;
        align-items: center;
        .entry {
          width: 25%;
          margin: 0.3em;
        }
      }

      .main-table {
        padding: 0.5em;
        width: 100%;
        height: 100%;

        .data-row {
          padding: 0;
          display: block;
          width: 100%;
          line-height: 1.25em;
          background-color: $primary-dark;
          border: 1px solid black;
          // font
          color: $primary-light;
          font-size: 0.75em;
        }
      }
    }
    .ticker-container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      min-width: 25vw;
      padding-left: 2em;;
      .ticker-name {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 5vh;
        background-color: $primary;
      }
      .ticker-table {
        display: block;
        padding: 0.5em;
        height: 100%;
        background-color: $primary-dark;

        .data-row {
          padding: 0;
          display: flex;
          flex-direction: row;
          width: 100%;
          line-height: 1.25em;
          background-color: $primary-dark;
          border: 1px solid black;
          // font
          color: $primary-light;
          font-size: 0.75em;
        }
      }
    }
  }
}
