@import 'variables';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  max-width: 38rem;
  padding: 0;
  background: darken($primary-dark, 5);
}

#root {
  margin: 0;
}

.window-display {
  display: flex;
  flex-direction: row;
}

.nav {
  display: block;
  content: '';
  height: 100vw;
  min-width: 15vw;
  background-color: $primary;

  .logo-image {
    background: $primary-light;
    width: 100%;
    height: auto;
  }

  // 日本語
  #exit-text {
    color: $primary-light;
  }
}

.database-view {
  display: flex;

  .middle-tables {
    .add-new-row {
      padding-left: 1em;
      display: flex;
      content: '';
      background-color: $primary-dark;
      width: $middle-table-width;
      height: 10vw;
      flex-direction: row;
      align-items: center;

      .entry {
        height: 1em;
        width: 25%;
        margin: 0.3em;
      }
    }

    .main-table {
      padding: 0.5em;
      width: $middle-table-width;
      height: 80vw;
      border: 3px solid red;

      .data-row {
        padding: 0;
        display: block;
        width: 100%;
        line-height: 0.9em;
        background-color: $primary-dark;
        border: 1px solid black;
        // font
        color: $primary-light;
        font-size: 0.75em;
      }
    }
  }
  .ticker-container {
    display: flex;
    flex-direction: column;
    width: 25vw;

    .ticker-table {
      display: block;
      padding: 0.5em;

      height: 100vh;
      border: 3px solid green;
      background-color: $primary-dark;

      .data-row {
        padding: 0;
        display: block;
        width: 100%;
        line-height: 0.9em;
        background-color: $primary-dark;
        border: 1px solid black;
        // font
        color: $primary-light;
        font-size: 0.75em;
      }
    }
    .ticker-name {
      display: flex;
      align-items: center;
      justify-content: center;
      content: '';
      height: 10vh;
      background-color: $primary;
    }
  }
}
